/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    /*Fondo gradiente*/
    /*background: linear-gradient(135deg, #4e54c8, #8f94fb, #6a11cb, #2575fc);*/
    background: linear-gradient(135deg, #753042, #a65256, #df6e68, #908e9b, #e95805, #fe9226, #f9930a);
    background-size: 400% 400%;
    animation: gradientAnimation 12s ease infinite;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Animación del fondo (el gradiente */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Tarjeta principal */
.weather-container {
    //background-color: #ffffff;
    background: rgba(255,255,255, 0.5);
    color: white;
    width: 100%;
    max-width: 420px;
    padding: 32px 36px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.20);
    text-align: center;
}

/* Título */
.weather-container h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 24px;
}

/* Grupos de entrada */
.input-group {
    text-align: left;
    margin-bottom: 16px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #444;
}

.input-group input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    font-size: 0.95rem;
    outline: none;
}

.input-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.2);
}

/* Botón */
.btn-primary {
    width: 100%;
    margin-top: 8px;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #C46400;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.15s ease, transform 0.05s ease;
}

.btn-primary:hover {
    background-color: #f39126;
}

.btn-primary:active {
    transform: scale(0.98);
}

/* Caja de resultados */
.result-box {
    margin-top: 20px;
    padding: 14px 16px;
    //background-color: #D2B0F5;
    background: rgba(213, 191, 242, 0.5);
    border-radius: 6px;
    font-size: 0.95rem;
    color: #333;
}

/* Ocultar */
.hidden {
    display: none;
}

/* Responsive */
@media (max-width: 480px) {
    .weather-container {
        margin: 16px;
        padding: 24px 20px;
    }

    .weather-container h1 {
        font-size: 1.7rem;
    }
}